@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Oswald:300);
* { box-sizing: border-box; }
html { width: 100%; height: 100%; background: #1f323e; background: radial-gradient(80% 0%, ellipse cover, rgba(66,97,104,1) 0%,rgba(49,67,74,.1) 100%), radial-gradient(20% 100%, ellipse cover, rgba(8,13,17,1) 0%,rgba(36,58,67,1) 100%); }
body { 
    
    font-family: 'Oswald', sans-serif;
    
}

video { border-radius: 6px; }

/* video container */
.videoContainer{
    width:380px;
    height:200px;
    position:relative;
    overflow:hidden;
    background:#000;
    color:#ccc;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.8);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 50px auto 0;
}
.videoContainer:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 1px 2px rgba(255,255,255,0.3);
    z-index: 6;
    border-radius: 6px;
    pointer-events: none;
}

/* video caption css */
.caption{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 5px 10px;
    color:#ddd;
    font-size:14px;
    font-weight:300;
    text-align: center;
    background: rgba(0,0,0,0.4);
    text-transform: uppercase;
    border-radius: 6px 6px 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
